* {
    margin: 0%;
    padding: 0ch;
}

body {
    background-image: url(/imagen/fondo.jpg);
    background-attachment: fixed;
    background-color: black;
    background-color: #103c3f;

}

.contenedor {
    display: flex;
    width: 80%;
    margin: 0% auto;
    max-width: 1000px;

}